.container {
  margin: 4rem 16rem;
}

@media screen and (max-width: 1200px) {
  .container {
    margin: 3rem;
  }
}

.intro {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 4rem;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 3rem;
}

.serviceCard {
  border-radius: 0.2rem;
  padding: 0px;
  text-align: center;
  background-color: var(--secondary-background-color);
}

.serviceImage {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  width: 100%;
  height: 18rem;
  object-fit: cover;
  display: block;
}

.serviceTitleContainer {
  background-color: var(--accent-color);
  padding: 10px;
}

.serviceCardHeading {
  color: white;
  margin: 0;
}

.serviceCard:hover {
  background-color: hsl(0, 0%, 92%);
}

.serviceCard h2 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.serviceCard p {
  margin: 20px;
  line-height: 1.2;
}
