/* serviceDetail.module.css */
.container {
  max-width: 1200px;
  margin: 5rem auto;
  text-align: center;
}

.steps h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-top: 5rem;
  color: #333;
  position: relative;
}

.steps h2::before,
.steps h2::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #b3b3b3;
  margin: 0 15px;
}

/*Intro*/
.introContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; /* Afstand mellem introduktion og serviceboks */
}

.intro {
  flex: 1; /* Sørger for, at introduktionen fylder det meste af pladsen */
  max-width: 60%;
  text-align: left;
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  align-self: center;
}

.serviceBox {
  flex: 1; /* Sørger for, at boksen får plads ved siden af introduktionen */
  max-width: 38%;
  padding: 5px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.serviceBox h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.serviceBox h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  color: #333;
}

.serviceBox ul {
  text-align: center;
  list-style: none;
  padding: 0;
  font-size: 1rem;
  color: #555;
}

.serviceBox ul li {
  margin-bottom: 5px;
}

/* Steps Section */
.steps {
  text-align: center;
}

.stepGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 20px;
}

.step {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step img {
  width: 100%;
  height: 250px; /* Sætter en fast højde for alle billeder */
  object-fit: cover; /* Sørger for, at billedet fylder hele containeren uden at blive forvrænget */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 15px;
}

.step h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: black;
}

.step p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}

/* CTA Button */
.ctaButton {
  background-color: #0070f3;
  color: white;
  padding: 12px 30px;
  border-radius: 15px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
  display: inline-block;
  margin-top: 10px;
}

.ctaButton:hover {
  background-color: #005bb5;
}

.cta {
  margin-top: 50px;
}

.cta a {
  background-color: #0070f3;
  color: white;
  padding: 12px 30px;
  border-radius: 15px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.cta h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin: 2rem;
}

.cta a:hover {
  background-color: #005bb5;
}
