.prislisteContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; /* Ren hvid baggrund */
  border-radius: 5px;
}

.prisliste {
  background-color: #fdf8f4; /* Lysere grå baggrund for prislisten */
  padding: 20px;
  border-radius: 8px;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtil skygge for mere dybde */
  text-align: center;
}

.prisliste h2 {
  font-size: 2rem;
  color: #002366; /* Mørkeblå overskrift for elegance */
  margin-bottom: 3rem;
}

.prisliste ul {
  list-style-type: none;
  padding: 0;
}

.prisliste ul li {
  justify-content: space-between;
  padding: 1rem 0;
  font-size: 1.1rem;
  border-bottom: 1px solid #d3d3d3; /* Tynd linje mellem elementer */
  color: #333333; /* Mørkegrå tekst for et mere moderne udtryk */
}

.prisliste ul li:last-child {
  border-bottom: none; /* Fjern linjen fra sidste element */
}

.prisliste ul li div {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.prisliste ul li div:first-child {
  font-weight: 500;
}

.tilbud {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #333;
}

.tilbud a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.highlighted {
  color: blue;
  font-weight: bold;
}

.tilbudContainer {
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.tilbudContainer h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #2f22e6;
}

.tilbudContainer p {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 20px;
}
