@media screen and (max-width: 1200px) {
  .container {
    margin: 3rem;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.prislisteContainer {
  margin-top: 2rem;
}

.prisliste h2 {
  margin-top: 5rem;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1.3rem;
  color: #333;
  background-color: var(--accent-color);
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
}

.prisliste ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.prisliste ul li {
  justify-content: space-between;
  padding: 9px;
  font-size: 1.1rem;
  border-bottom: 1px solid #d3d3d3;
  color: #333333;
}

.prisliste ul li div {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.tilbud {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #333;
}

.tilbud a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.tilbudContainer {
  background: linear-gradient(
    135deg,
    #3d7cc4,
    #0e2b50
  ); /* Blå gradient baggrund */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white; /* Gør teksten hvid for bedre kontrast */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 5rem;
}

.tilbudContainer h3 {
  font-size: 2rem; /* Gør overskriften større for mere opmærksomhed */
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase; /* Gør teksten til store bogstaver for at understrege tilbuddet */
}

.tilbudContainer p {
  font-size: 1.2rem; /* Forstør teksten for bedre læsbarhed */
  margin: 0;
  font-weight: 500;
}

.highlighted {
  color: var(--accent-color);
  font-weight: bold;
}
