.prislisteContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.prisliste {
  margin-top: 20px;
}

.prisliste h2 {
  font-size: 2rem;
  color: #333;
}

.prisliste ul {
  list-style-type: none;
  padding: 0;
}

.prisliste ul li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 1.1rem;
  color: #333;
  border-bottom: 1px solid black;
}

.dots {
  flex-grow: 1;
  border-bottom: 1px dotted #0d0909;
  margin: 0 10px;
}

.tilbud {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #333;
}

.tilbud a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.highlighted {
  color: blue;
  font-weight: bold;
}


.tilbudContainer {
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.tilbudContainer h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #2f22e6;
}

.tilbudContainer p {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 20px;
}

