/* Smaller hero section for other pages */
.pageHeroSection {
  position: relative;
  width: 100%;
  height: 50vh; /* Smaller height for non-home pages */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroContent {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5); /* Darken background for better text readability */
  padding: 1rem;
}

.heroContent h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .heroContent h1 {
    font-size: 3rem;
  }
}
