:root {
  --background-color: hsl(0, 0%, 100%);
  --secondary-background-color: hsl(0, 0%, 96%);
  --accent-color: hsl(219, 100%, 20%);
  --text-color: hsl(0, 0%, 25%);
  --heading-color: hsl(0, 0%, 10%);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

a {
  text-decoration: none;
  border-radius: 0.3rem;
  padding: 12px 25px;
}
