.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 60px;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.formSection {
  width: 48%;
}

.form {
  display: flex;
  flex-direction: column;
}

.input,
.textarea {
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.textarea {
  min-height: 100px;
}

.button {
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  background-color: hsl(240, 55%, 40%);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s background-color;
}

.button:hover {
  background-color: hsl(240, 55%, 50%);
}

.contactDetails {
  width: 48%;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.contactDetails p {
  line-height: 140%;
}

.googleMaps {
  margin-top: 50px;
  width: 100%;
}