/* Text (Intro) Section */
.textWrapper {
  margin: 5rem 20rem;
  text-align: center;
}

.textWrapper h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.textWrapper p {
  font-size: 1.2rem;
  line-height: 1.6;
}

@media (max-width: 1100px) {
  .textWrapper {
    margin: 5rem 2rem;
    padding-left: 0;
  }
}

/* Firmaer Logo Section */
/* Firmaer Logo Section */
.companySection {
  text-align: center;
  padding: 3rem 2rem;
  background-color: #f5f5f5; /* Lysere baggrund for bedre kontrast */
}

.companySection h2 {
  font-size: 2rem; /* Større font til overskriften */
  margin-bottom: 1.5rem;
  color: #333; /* Mørkere farve for bedre synlighed */
}

.companySection p {
  font-size: 1.2rem; /* Lidt større skrift for bedre læsbarhed */
  margin-bottom: 2rem;
  color: #555; /* Dæmpet grå farve for et professionelt look */
}

.logoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.logoItem img {
  width: 150px;
  height: 100px;
  object-fit: contain; /* Beholder billedets proportioner */
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.logoItem img:hover {
  transform: scale(1.05); /* Let animation ved hover */
}
